HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.env

# Arquivos de estado local (CRÍTICO: Contém segredos)
*.tfstate
*.tfstate.*

# Diretório de plugins baixados
.terraform/

# Arquivos de variáveis (Contém segredos como chaves SSH)
*.tfvars
*.auto.tfvars

# Logs de crash
crash.log
override.tf
override.tf.json
_override.tf
_override.tf.json

# Configurações de CLI locais
.terraformrc
terraform.rc