server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: status
            values: [running]

    relabel_configs:
      # 1. Pega o nome do container do Docker e cria a label 'container_name'
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container_name'

      # 2. (Opcional) Cria a label 'image' para saber qual versão está rodando
      - source_labels: ['__meta_docker_container_image']
        target_label: 'image'